@model AppChambitasV1.Domain.TiposServiciosDetalle

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TiposServiciosDetalle</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TiposServicios.TipoServ_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TiposServicios.TipoServ_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoServDeta_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServDeta_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoServDeta_Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServDeta_Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoServDeta_Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoServDeta_Precio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TipoServDeta_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
