@model IEnumerable<AppChambitasV1.Domain.TiposServicios>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TipoServ_Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TipoServ_Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServ_Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TipoServ_Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TipoServ_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.TipoServ_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TipoServ_ID })
        </td>
    </tr>
}

</table>
