@model AppChambitasV1.Domain.Usuario

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Usuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Usua_Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usua_Correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_Correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usua_Contrasenia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_Contrasenia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usua_Activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_Activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usua_FechaHora)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_FechaHora)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usua_ModificadoPor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usua_ModificadoPor)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Usua_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
